<div>
    <h3 style="color: #334346">this content comes<br>from an ajax call</h3>
    <img src="http://cdn.flaticon.com/png/256/68729.png" width="100"><br>
    Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo.
</div>
